* {
  font-family: "Varela Round", sans-serif; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

hr {
  margin: 20px;
  border: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3); }

#info {
  color: rgba(0, 0, 0, 0.6);
  margin: 10px;
  position: absolute; }
  #info h1 {
    margin: 0;
    padding: 0; }
  #info input {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    width: 100px; }
  #info .social {
    margin: 5px 0; }
  #info a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-decoration: none; }
    #info a:hover {
      text-decoration: underline; }
